extends layout

block content
  script(src="/js/diary.js")

  h1 Diary
  div(class="container")
    form(class="form-signin", ng-controller='TastingController',
         method="post", action="/diary")
      h2(class="form-signin-heading") What are you drinking?
      input.input-block-level(type="text", placeholder="Beer name",
        ng-model='beerName', name="beerName", autocomplete="off",
        typeahead='beerTitle(beer) for beer in beers($viewValue)')
      select.input-block-level(type="text", placeholder="Location",
                               name="location",
                               ng-model="location",
                               ng-options="l.name for (n,l) in locations")
      input.input-block-level.photo(type="text", placeholder="Photo")
      section.heart
        textarea.notes(placeholder="Tasting notes",
                       name="notes")
        input#heart(type="checkbox")
        label(for="heart")
      button.btn-large.btn-primary(type="submit") Submit
