extends layout

block content
  script(src="/js/diary.js")
  form(class="form-signin", ng-controller='TastingController',
       ng-submit="sendForm()")
    header.head
      div(class="container")
        a.go-back(href="/home")
        h1 New entry
        div.post-this
          button.btn-large.btn-primary(type="submit") Post
    div.container.diary
    
      h2(class="form-signin-heading") What are you drinking?
      input.input-block-level(type="text", placeholder="Beer name",
        ng-model='beer', name="beer", autocomplete="off",
        typeahead='b.name for b in beers($viewValue)')
      select.input-block-level.dropdown(type="text", placeholder="Location",
        name="location", ng-model="location",
        ng-options="l.name for (n,l) in locations")
      input.input-block-level.photo(type="text", placeholder="Photo")
      section.heart
        textarea.notes(placeholder="Tasting notes",
                       name="notes", ng-model="notes")
        input#heart(type="checkbox", ng-model="liked")
        label(for="heart")
